JWT_SECRET="ENTER JWT SECRET KEY"
GEMINI_API_KEY="ENTER GEMINI KEY"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="ENTER YOUR GMAIL ADDRESS"
SMTP_PASS="ENTER YOUR GMAIL APP PASSWORD"
EMAIL_FROM="VoyageGen <your-email@gmail.com>"
GROQ_API_KEY="ENTER GROQ API KEY"
CLOUDINARY_CLOUD_NAME="ENTER CLOUDINARY CLOUD NAME"
CLOUDINARY_API_KEY="ENTER CLOUDINARY API KEY"
CLOUDINARY_API_SECRET="ENTER CLOUDINARY API SECRET"